<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {% if site.github_username %}
          <li>
            GitHub:{% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
	  <li>
            E-mail:<a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
        </ul>
      </div>

      <div class="footer-col">
        <p>Which I believe firmly:<br/>{{ site.description }}</p>
      </div>
    </div>
  </div>

</footer>
